<form #startupForm="ngForm" (ngSubmit)="addStartup()" class="startup-form">
  <h2 style="font-size: xx-large; color: brown">Add New Startup</h2>

  <!-- Startup Name -->
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Startup Name</mat-label>
    <input
      matInput
      type="text"
      name="nameStartup"
      [(ngModel)]="startup.nameStartup"
      #nameStartup="ngModel"
      required
    />
    <mat-error
      *ngIf="
        startupForm.controls['nameStartup']?.invalid &&
        startupForm.controls['nameStartup']?.touched
      "
    >
      Startup Name is required.
    </mat-error>
  </mat-form-field>

  <!-- Overview -->
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Overview</mat-label>
    <textarea
      matInput
      name="overviewStartup"
      [(ngModel)]="startup.overviewStartup"
      #overviewStartup="ngModel"
      required
    ></textarea>
    <mat-error
      *ngIf="
        startupForm.controls['overviewStartup']?.invalid &&
        startupForm.controls['overviewStartup']?.touched
      "
    >
      Overview is required.
    </mat-error>
  </mat-form-field>

  <!-- Country -->
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Country</mat-label>
    <mat-select
      name="countryId"
      [(ngModel)]="startup.countryId"
      required
      #countryId="ngModel"
    >
      <mat-option value="1">USA</mat-option>
      <mat-option value="2">Canada</mat-option>
      <mat-option value="3">South Africa</mat-option>
    </mat-select>
    <mat-error
      *ngIf="
        startupForm.controls['countryId']?.invalid &&
        startupForm.controls['countryId']?.touched
      "
    >
      Please select a country.
    </mat-error>
  </mat-form-field>

  <!-- Industry -->
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Industry</mat-label>
    <mat-select name="industryId" [(ngModel)]="startup.industryId" required>
      <mat-option value="1">Cinema</mat-option>
      <mat-option value="2">Art</mat-option>
      <mat-option value="3">Music</mat-option>
    </mat-select>
    <mat-error
      *ngIf="
        startupForm.controls['industryId']?.invalid &&
        startupForm.controls['industryId']?.touched
      "
    >
      Please select an industry.
    </mat-error>
  </mat-form-field>

  <!-- Investment Size -->
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Investment Size</mat-label>
    <mat-select
      name="investmentSizeId"
      [(ngModel)]="startup.investmentSizeId"
      required
    >
      <mat-option value="1">Small</mat-option>
      <mat-option value="2">Medium</mat-option>
      <mat-option value="3">Large</mat-option>
    </mat-select>
    <mat-error
      *ngIf="
        startupForm.controls['investmentSizeId']?.invalid &&
        startupForm.controls['investmentSizeId']?.touched
      "
    >
      Please select an investment size.
    </mat-error>
  </mat-form-field>

  <!-- Submit Button -->
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="startupForm.invalid"
  >
    Add Startup
  </button>
</form>
