<form #investorForm="ngForm" (ngSubmit)="updateInvestor()" class="investor-form">
  <h2 class="mb-4 text-center">Edit Investor</h2>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="investor.name_Investor" name="name_Investor" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Overview</mat-label>
    <textarea matInput [(ngModel)]="investor.overview_Investor" name="overview_Investor" required></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Country</mat-label>
    <mat-select [(ngModel)]="investor.country_Id" name="country_Id" required>
      <mat-option *ngFor="let country of countries" [value]="country.id">
        {{ country.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Industry</mat-label>
    <mat-select [(ngModel)]="investor.industry_Id" name="industry_Id" required>
      <mat-option [value]="1">Technology</mat-option>
      <mat-option [value]="2">Healthcare</mat-option>
      <mat-option [value]="3">Finance</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Investment Size</mat-label>
    <mat-select [(ngModel)]="investor.investment_Size_Id" name="investment_Size_Id" required>
      <mat-option [value]="1">Small</mat-option>
      <mat-option [value]="2">Medium</mat-option>
      <mat-option [value]="3">Large</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Update Investor</button>
</form>
