<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu
  icon"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="/" mat-menu-item>Homepage123</button>
    <button routerLink="/member" mat-menu-item>Members</button>
    <button routerLink="/add-member" mat-menu-item>Add Member</button>
  </mat-menu>
  <span>Menu</span>
</mat-toolbar>

<router-outlet></router-outlet>

<router-outlet />
